<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Record screen debugger</title>
</head>
<body>
    <button id="stop-recording">Stop Recording</button>
    <img src="/screen" id="screen" />
    <script>
        function refresh_screen() {
            document.getElementById('screen').setAttribute('src', '/screen?timestamp=' + (new Date()));
        }
        setInterval(refresh_screen, 3000)
        refresh_screen();

        document.getElementById('stop-recording').addEventListener('mousedown', function(event) {
            fetch('/stop-recording', {
                method: 'POST',
            });
        });
        document.getElementById('screen').addEventListener('contextmenu', function(event) {
            event.preventDefault();
            var x = event.offsetX;
            var y = event.offsetY;
            fetch('/get_pixel?x=' + x + '&y=' + y).then(function(data) {
                return data.text();
            }).then(function(text) {
                alert(text);
            });
            return false;
        });

        document.getElementById('screen').addEventListener('mousedown', function(event) {
            var x = event.offsetX;
            var y = event.offsetY;
            fetch('/click?x=' + x + '&y=' + y, {
                method: 'POST',
            });
        });


    </script>
</body>
</html>